@tailwind base;
@tailwind components;
@tailwind utilities;

.countdown-number {
    /* position: relative; */
    /* border: 2px solid black; */
    background-image: url('../public/images/ellipse-sm.png');
    min-width: 241px;
    height: 231px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}